# Server Environment
PORT=3001
REALTIME_PORT=3002
NODE_ENV=development

# Database (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cronos
POSTGRES_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/cronos

# pgAdmin
PGADMIN_PORT=5051
PGADMIN_DEFAULT_EMAIL=admin@cronos.com
PGADMIN_DEFAULT_PASSWORD=admin
